---
layout: default
title: Home
navigation_weight: 1
---

<div class="home"> 
    {% for idea in site.ideas limit:3 %}
    <div class="idea">
        <h2 class="idea-title">
          <a class="idea-link" href="{{ idea.url | prepend: site.baseurl }}">{{ idea.title | escape }}</a>
        </h2>
        <h4 class="idea-meta"><span class="idea-author">{{ site.data.authors[idea.author].name }}</span> <span class="idea-date">{{ idea.date | date: "%b %-d, %Y" }}</span></h4>
        <div class="idea-excerpt">{{ idea.excerpt }}</div>
    </div>
  {% endfor %}
  
  <h3>Most recently added Ideas</h3>
  <ul class="idea-list">
    {% for idea in site.ideas limit:10 %}
    <li><a class="idea-link" href="{{ idea.url | prepend: site.baseurl }}">{{ idea.title | escape }}</a><span class="pull-right">{{ idea.date | date: "%b %-d, %Y" }}</span></li>
    {% endfor %}
  </ul>
  <a class="all-articles" href="{{ site.baseurl }}/ideas/">Browse all Ideas</a>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
