<nav class="navbar navbar-default navbar-idea navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% assign navigation_pages = site.pages | sort: 'navigation_weight' %}
        {% for p in navigation_pages %}
          {% if p.navigation_weight %}
            <li>
              <a href="{{ p.url }}" {% if p.url == page.url %}class="active"{% endif %}>
                {{ p.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
       </ul>
  </div>
</nav>
{% raw %}
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">
$(function(){
  $('#subscribe').click(function(){
    require(["mojo/signup-forms/Loader"], function(L) { 
      L.start({"baseUrl":"mc.us7.list-manage.com","uuid":"1f2dd0787b0dcefedd428e7b9","lid":"2b5f904a19"}) 
    })
  });
})
</script>
{% endraw %}