<!DOCTYPE html>
<html>
	<head>
		{% include head.html %}
	</head>
	<body>
		{% include nav.html %}
		<div class="page-meta" style="margin-top: 50px">
			<h1 class="page-title">
				{{ page.title }}
			</h1>
			{% if page.desc %}
			<div class="page-desc">
			{{ page.desc }}
			</div>
			{% endif %}
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">	
					<div class="actual-post">			
						<div class="post-meta">
							<span class="post-author">{{ page.author }}</span> <span class="post-date">{{ page.date | date: "%b %-d, %Y" }}</span>
						</div>
						<div class="post-body">
							{{ page.content }}
						</div>
						<div class="post-tags">
							<strong>Tags </strong> 
							{% for tag in page.tags %}
								<span class="post-tag">{{ tag }}</span>
							{% endfor %}
						</div>
					</div>
					{% include share.html %}
					{% include disqus.html %}
					{% include subscribe.html %}
				</div>
			</div>
		</div>
	{% include footer.html %}
	{% include scripts.html %} 
	</body>
</html>